{% extends 'shop/base.html' %}

{% block title %}
    My Secret
{% endblock %}

{% block context %}
<div class="container">
	<!-- Home slide -->
	<div class="home-slide1 owl-carousel nav-style1" data-items="1" data-nav="true" data-dots="false" data-loop="true" data-autoplay="true">
		<img src="../../static/images/main_3.jpg" alt="">
		<img src="../../static/images/main_1.jpg" alt="">
		<img src="../../static/images/main_4.jpg" alt="">
	</div>
	<!-- ./Home slide -->
    <br><br><br><br>
<div class="section-title text-center"><h3>Brusevi</h3></div>
	<div class="margin-top-40">
	</div>
	<div class="margin-top-40">
		<div class="row">
			<div class="col-sm-12 col-md-6 margin-bottom-30">
				<p class="banner" href=""><img src="../../static/images/chantelle1.jpg" alt="">
                <h3 class="text">Chantelle</h3></p>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/chantelle4.jpg" alt="">
							<h3 class="text">Chantelle</h3>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/selene1.jpg" alt="">
							<h3 class="text">Selene</h3>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/sielei1.jpg" alt="">
							<h3 class="text">Sielei</h3>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/sielei2.jpg" alt="">
							<h3 class="text">Sielei</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <br><br>
    <div class="section-title text-center"><h3>Kompleti</h3></div>
	<div class="margin-top-50">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="row">
					<div class="col-sm-12">
						<a href="#" class="banner-product">
							<img src="../../static/images/set8.jpg" alt="">
							<h3 class="text">Playtex</h3>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/belseno1.jpg" alt="">
							<h3 class="text">Belseno</h3>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="banner-product">
							<img src="../../static/images/leilieve_set.jpg" alt="">
							<h3 class="text">Leilieve</h3>

						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<p class="banner" href="#"><img src="../../static/images/lormar2.jpg" alt="">
                <center><h3 class="text">Lormar</h3></center></p>
			</div>
		</div>
	</div>
    <br>
	<div class="margin-top-30 section-lasttest-blog">
		<div class="section-title text-center"><h3>Gaćice</h3></div>
		<div class="lastest-blog owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":2}}'>
			<div class="item-blog">
                <div class="right">
					<a class="banner" href="#"><img src="../../static/images/loveandbra1.jpg" alt=""></a>
                    <span><center>Love and Bra</center></span>
				</div>
				<div class="right">
					<a class="banner" href="#"><img src="../../static/images/lormar4.jpg" alt=""></a>
                    <span><center>Lormar</center></span>
				</div>

			</div>
			<div class="item-blog">
				<div class="left">
					<a class="banner-border" href="#"><img src="../../static/images/chantelle5.jpg" alt=""></a>
                    <span><center>Chantelle</center></span>
				</div>
				<div class="right">
					<a class="banner-border" href="#"><img src="../../static/images/leilieve_panties.jpg" alt=""></a>
                    <span><center>Leilieve</center></span>
				</div>
			</div>
		</div>
	</div>

	<div class="section-brand-slide">
		<div class="brands-slide owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false" data-loop="true" data-margin="60" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
			<a href="#"><img src="../../static/images/logos/chantelle-logo.png" alt=""></a>
			<a href="#"><img src="../../static/images/logos/lormar_logo.png" alt=""></a>
			<a href="#"><img src="../../static/images/logos/loveandbra_logo.png" alt=""></a>
			<a href="#"><img src="../../static/images/logos/sielei_logo.jpg" alt=""></a>
			<a href="#"><img src="../../static/images/logos/belseno.png" alt=""></a>
            <a href="#"><img src="../../static/images/logos/leilieve_logo.jpg" alt=""></a>
		</div>
	</div>
	<div class="margin-top-60 margin-bottom-30">
		<div class="row">
			<div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-origami28"></i></div>
					<div class="content">
						<h4 class="title">FREE SHIPPING WORLD WIDE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
					<div class="content">
						<h4 class="title">MONEY BACK GUARANTEE</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
					<div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
					<div class="content">
						<h4 class="title">ONLINE SUPPORT 24/7</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="margin-top-60">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				<div class="newsletter">
                    <div class="section-title text-center"><h3>NEWSLETTER</h3></div>
                    <i class="newsletter-info">Sign up for Our Newsletter &amp; Promotions</i>
                    <form method="POST" action="{{ url_for('send_email') }}" class="form-newsletter">
                      <input type="email" name="email" placeholder="Your email address here..." value="">
                      <span><button class="newsletter-submit" type="submit">SIGNUP</button></span>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}