{% extends 'shop/base.html' %}

{% block title %}
    Gaćice
{% endblock %}

{% block context %}
<div class="container">
<div class="banner">
	<div class="banner-content">
		<img src="/app/static/images/panties4.jpeg" alt="">
	</div>
</div>
        </div>
<div class="main-container no-slidebar">
	<div class="container">
		<div class="row">
           <br><br>
            <span class="section-title text-center"><h3>Chantelle</h3></span>
			<div class="main-content col-sm-12">
				<ul class="product-list-grid desktop-columns-4 tablet-columns-3 mobile-columns-1 row flex-flow">
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<p ><img src="/app/static/images/chantelle_pant_back1.jpg" alt=""></p>
                                <p class="back-image"><img src="/app/static/images/chantelle_pant_front1.jpg" alt=""></p>
							</div>
							<div class="product-info">
								<h6 class="product-name">SoftStretch Thong</h6>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/2.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/3.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
									<del>£95.00</del>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/3.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/4.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/4.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/5.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
									<del>£95.00</del>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
        <div class="row">
           <br><br>
            <span class="section-title text-center"><h3>Sielei</h3></span>
			<div class="main-content col-sm-12">
				<ul class="product-list-grid desktop-columns-4 tablet-columns-3 mobile-columns-1 row flex-flow">
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<p ><img src="/app/static/images/sielei_pant_front1.jpg" alt=""></p>
                                <p class="back-image"><img src="/app/static/images/sielei_pant_back1.jpg" alt=""></p>
							</div>
							<div class="product-info">
								<h6 class="product-name">1241 - FRENCH KNICKERS</h6>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/2.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/3.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
									<del>£95.00</del>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/3.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/4.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
					<li class="product-item col-xs-12 col-sm-4 col-md-3">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/app/static/images/products/4.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/app/static/images/products/5.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
								<span class="price">
									<ins>£85.00</ins>
									<del>£95.00</del>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}